:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 47px;
    --header-search: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full_width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}

.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.333%;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
       transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.3s;
}

.modal__overclay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body{
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.3s;
}

/* Button style */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0 12px;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn:hover{
    background-color: rgba(0,0,0,0.2);
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input{
    min-width: 200px;
    height: 34px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

