:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full_width{
    width: 100%;
}

.gid__row{
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overclay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #000;
    margin: auto;
    z-index: 1;
}