/* Mobile && Tablet */
@media (max-width: 1023px) {
    :root{
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .header{
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before{
        display: none;
    }
    .app__container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height)) ;
    }
    .header__sort-bar{
        display: flex;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .hide-on-tablet{
        display: none;
    }
    .header__cart{
        width: 80px;
        text-align: right;
    }
    .footer{
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile{
        display: none;
    }
    .header__search{
       justify-content: space-between;
    }
    .header__logo{
        width: unset;
    }
}