.header{
    height: var( --header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    min-height: 26px;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px 5px;
}

.header__navbar-title{
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 160%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.header__qr::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 11px;
}

.header__qr-download{
    height: 15px;
}

/* Header Notifycation */
.header__notify{
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in-out 0.3s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before{
    content: '';
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -29px;
}

.header__notify::after{
    content: '';
    display: block;
    width: 90px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -15px;
}

@keyframes headerNotify {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.header__navbar-item--show-notify:hover .header__notify{
    display: block;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238,75,43,0.08);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 1.2rem;
    /* line-height: 2.4rem; */
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.8rem;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    font-weight: 400;
    margin-top: 0.4rem;
}

.header__notify-footer{
    text-align: center;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 0;
    width: 100%;
    display: block;
    font-weight: 500;
}

/* Authencation Form */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    margin: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__input{
    height: 4rem;
    width: 100%;
    margin-bottom: 1.6rem;
    padding: 0 1.2rem;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 1.8rem;  
}

.auth-form__aside p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 1.2rem;
}

.auth-form__aside a{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls--back{
    margin-right: 8px;
}

.auth-form__socials{
   background-color: #f5f5f5;
   padding: 16px 36px;
   display: flex;
   justify-content: space-between;
   margin-top: 22px;
}

.auth-form__socials i {
    font-size: 1.8rem;
}

.auth-form__socials a {
    color: var(--white-color);
}

.auth-form__socials a:first-child {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials a:last-child {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials span{
    margin: 0 36px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help a:last-child{
    color: #939393;
}

.auth-form__link{
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__separate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 22px;
    margin: 0 16px 4px;
}

/* Header with Search */
.header__search{
    height: var(--header-search);
    display: flex;
    align-items: center;
    margin: 0 4px;
}

.header__logo img{
    width: 200px;
}

.header__search__input{
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart i{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__search__input{
    display: flex;
    align-items: center;
}

.header__search__input input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}

.header__search-select span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select i {
    font-size: 1.4rem;
    color: rgb(131,131,131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn i{
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 150%;
    width: 130px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
}

.header__search-option li{
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    text-align: right;
}

.header__search-option span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}